    .mkImage {
    height: 150px;
    width: 150px;
}

p {
    font-family: font-family: 'VT323', monospace;
    font-size: 25px;
    text-align: center;
    color: #e61718;
}

#instructions {
    float: none;
    margin-bottom: 27px;
    text-align: center;
}

.crystal {
  margin-left: 23%
}

#allContent {
	width: 100%;
}

body {
	background-image: url("../images/mkbackground3.jpg");
	background-size: cover;
}

#winOrLoseNotification {
    text-align: center;
    color: #e61718;
    font-size: 40px;
}